.availability .tab-panel{
  margin-left: 15px;
}
.availability input.input-h{
  height: 30px;
  line-height: 30px;
  text-align: center;

}
.availability label.status{ margin-left: 50px;}
.availability .dropdown-toggle-status{
  width: 136px;
  text-align: left;
}

.availability .container-fluid{ padding-left:0; margin-top: 10px;}

.availability .table > thead > tr> th{
  background: #7dcaef;
  color: #fff;
  text-align: center;

}
.availability .table > tbody > tr> td{
  text-align: center;
}