.main-content-title .btn-group{margin-right: 10px;}

.main-content-title .btn .caret{
  color: #828282;
}
.main-content-title .icon-redDot, .main-content-title .icon-greenDot{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff0000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.main-content-title .icon-greenDot{
  background: #0aa70a;
}

.main-content-title  .dropdown-toggle-detection{
  width: 270px;
  text-align: left;
}
.main-content-title  .dropdown-menu-detection{
  width: 295px;
}

.search h3{border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; margin-bottom: 10px;}
.search h3 span{display: inline-block;}
.search .ul-content  {display: block;}
.search .ul-content > li {
  float: left;
  margin-right:20px;
}
.search .ul-content > li:last-child {
  float: right;
  margin-right:0px;
}
.search .ul-content > li .btn-search{
  color: #3eb4b2;
}