.main-header {
    background-color: #50acb7;
    background: url('/img/main-header-bg.png');
    min-height: 56px;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.main-header .container-fluid {
}

.main-header .navbar-brand {
    height: 56px;
    width: 240px;
    /*border-right: 1px solid #6ec1cc;*/
    color: #ffffff;
    text-align: center;
    margin-left: 0;
}

.main-logo {
    display: inline-block;
}

.main-header .navbar-nav > li > a {
    color: #ffffff;
    padding: 18px 23px;
}

.main-header .navbar-nav > li:first-child > a {
    border-right: 1px solid #6ec1cc;
    border-left: 1px solid #6ec1cc;
}
.main-header .navbar-nav > li:last-child > a {
    border-left: 1px solid #6ec1cc;
}

.main-header .navbar-nav > li > a:focus,
.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > .active > a,
.main-header .navbar-nav > .active > a:focus,
.main-header .navbar-nav > .active > a:hover,
.main-header .navbar-nav > .open > a,
.main-header .navbar-nav > .open > a:focus,
.main-header .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #09717f;
}

.main-header .navbar-right > a {
    border-left: 1px solid #6ec1cc;
}
.main-header .navbar-right a span{
    font-size: 16px;
}
.main-header .icon-flag {
    background: url('/img/flag/china.png') no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;

}
.main-header .dropdown-menu.users {margin-right: 15px;padding-bottom:10px;}
.main-header .dropdown-menu>li>a{ color: #61616;}
.main-header .dropdown-menu>li>a > .icon-users {
    background: url('/img/icon-users.png') no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 10px;

}

.main-header .dropdown-menu>li>a > .icon-personal {
    background-position: 0 0;
}
.main-header .dropdown-menu>li>a > .icon-psw {
    background-position: 0 -20px;
}
.main-header .dropdown-menu>li>a > .icon-notice {
    background-position: 0 -42px;
}

.main-header .dropdown-menu>li>a > .icon-notice {
    background-position: 0 -42px;
}
.main-header .dropdown-menu>li>a > .icon-logout {
    background-position: 0 -63px;
}


.main-header .dropdown-menu>li:hover>a > .icon-personal {
    background-position: -25px 0;
}
.main-header .dropdown-menu>li:hover>a > .icon-psw {
    background-position: -25px -20px;
}
.main-header .dropdown-menu>li:hover>a > .icon-notice {
    background-position: -25px -42px;
}

.main-header .dropdown-menu>li:hover>a > .icon-notice {
    background-position: -25px -42px;
}
.main-header .dropdown-menu>li:hover>a > .icon-logout {
    background-position: -25px -63px;
}