/*==============================================================================*/
/* 重写bootstrap  */
/*==============================================================================*/
/*下拉菜单*/
.dropdown-menu {
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu > li > a {
    padding: 10px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    color: #fff;
    background-color: #60bbc7;
}

.btn-group > .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-default{
    border-color: #e5e5e5;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default:active:focus,.open>.dropdown-toggle.btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #e5e5e5;
}
.btn-group.open .dropdown-toggle {
     -webkit-box-shadow: none;
     box-shadow: none;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-default:hover{
    border-color: #e5e5e5;
    background-color:#fff;
}
.dropdown-menu{
    border-color: #e5e5e5;
    margin: -1px 0 0;
}


/*table*/
.table>thead>tr>th{
    border-bottom: 1px solid #e5e5e5;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #e5e5e5;
}
.table-striped{
    border:1px solid #e5e5e5;
}


/*tab选项卡*/
.nav-tabs>li{margin-bottom:0;}
.nav-tabs>li >a{color: #616161;}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
    border:1px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #37b4b3;
    cursor: default;
    background: none;
    border:none;
    border-bottom: 2px solid #37b4b3;
}
.nav>li>a{padding: 10px 20px;}
.tab-content>.tab-pane{padding: 10px 0;}
/*==============================================================================*/
/*  reset  */
/*==============================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==============================================================================*/
/* 自定义 RESET.CSS  */
/*==============================================================================*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    zoom: 1;
}

body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    font-weight: 300;
    line-height: 1.2;
}

/*==============================================================================*/
/* layout  */
/*==============================================================================*/
.main-header {
    background-color: #50acb7;
    background: url('/img/main-header-bg.png');
    min-height: 56px;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.main-header .container-fluid {
    padding-right: 0;
}

.main-header .navbar-brand {
    height: 56px;
    width: 240px;
    /*border-right: 1px solid #6ec1cc;*/
    color: #ffffff;
    text-align: center;
    margin-left: 0;
}

.main-logo {
    display: inline-block;
}

.main-header .navbar-nav > li > a {
    color: #ffffff;
    padding: 18px 23px;
}

.main-header .navbar-nav > li:first-child > a {
    border-right: 1px solid #6ec1cc;
    border-left: 1px solid #6ec1cc;
}

.main-header .navbar-nav > li > a:focus,
.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > .active > a,
.main-header .navbar-nav > .active > a:focus,
.main-header .navbar-nav > .active > a:hover,
.main-header .navbar-nav > .open > a,
.main-header .navbar-nav > .open > a:focus,
.main-header .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #09717f;
}

.main-header .navbar-right a {
    border-left: 1px solid #6ec1cc;
}
.main-header .navbar-right a span{
    font-size: 16px;
}
.icon-flag {
    background: url('/img/flag/china.png') no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;

}

.main-container {
    position: relative;
    background-color: #fafafa;
    padding-top: 72px;
    padding-left: 100px;
}

.main-content {
    /*position: absolute;
    left: 100px;
    right: 0;
    top: 72px;*/
}

.main-content-title {
    margin: 0 15px 10px 15px;
}

.main-content-title:before,
.main-content-title:after {
    content: '';
    display: table;
}

.main-content-title:after {
    clear: both;
}
.main-sidebar {
    position: absolute;
    left: 0;
    top: 72px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    width: 100px;
}

.main-sidebar .nav > li > a {
    color: #666666;
    padding: 16px 10px;
}

.main-sidebar .nav > li.active > a,.main-sidebar .nav > li > a:hover{
    background-color: #60bbc7;
    color: #ffffff;
}

.main-nav-title {
    font-size: 13px;
}
.main-sidebar .nav > li {
    border-bottom: 1px solid #e5e5e5    ;
}
.main-sidebar .nav > li:last-child {
    border-bottom: none;
}

.main-sidebar .nav > li > a >span.icon-siderbar {
    background: url('/img/icon-siderbar.png') no-repeat;
    display: inline-block;
    width: 19px;
    height: 18px;
    vertical-align: middle;

}
.main-sidebar .nav > li > a >span.icon-action{
     background-position:0 0 ;
 }
.main-sidebar .nav > li > a >span.icon-overview{
     background-position:0 -26px;
 }
.main-sidebar .nav > li > a >span.icon-operators{
    background-position:0 -54px;
}
.main-sidebar .nav > li > a >span.icon-performance{
    background-position:0 -81px;
}
.main-sidebar .nav > li > a >span.icon-resources{
    background-position:0 -108px;
}
.main-sidebar .nav > li > a >span.icon-availability{
    background-position:0 -134px;
}
.main-sidebar .nav > li > a >span.icon-snapshot{
    background-position:0 -162px;
}

.main-sidebar .nav > li > a:hover >span.icon-action,.main-sidebar .nav > li.active > a >span.icon-action{
    background-position:-25px 0 ;
}
.main-sidebar .nav > li > a:hover >span.icon-overview,.main-sidebar .nav > li.active > a >span.icon-overview{
    background-position:-25px -26px;
}
.main-sidebar .nav > li > a:hover >span.icon-operators,.main-sidebar .nav > li.active > a >span.icon-operators{
    background-position:-25px -54px;
}
.main-sidebar .nav > li > a:hover >span.icon-performance,.main-sidebar .nav > li.active > a >span.icon-performance{
    background-position:-25px -81px;
}
.main-sidebar .nav > li > a:hover >span.icon-resources,.main-sidebar .nav > li.active > a >span.icon-resources{
    background-position:-25px -108px;
}
.main-sidebar .nav > li > a:hover >span.icon-availability,.main-sidebar .nav > li.active > a >span.icon-availability{
    background-position:-25px -134px;
}
.main-sidebar .nav > li > a:hover >span.icon-snapshot,.main-sidebar .nav > li.active > a >span.icon-snapshot{
    background-position:-25px -162px;
}

/*==============================================================================*/
/* 业务组件  */
/*==============================================================================*/
.chart-box {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 12px;
    margin-bottom: 10px;
}

.chart-box-title {
    font-size: 13px;
    color: #7b848e;
    font-weight: bold;
}

.chart-box-title:before, .chart-box-title:after {
    content: '';
    display: table;
}

.chart-box-title:after {
    clear: both;
}

.chart-box-body {
    height: 220px;
}
/*==============================================================================*/
/* 页面page */
/*==============================================================================*/
.dashboard .fc_map {
    height: 450px;
}

.dashboard .fc_time {
    height: 187px;
}
.dashboard .table-panel .chart-box > h3{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #7b848e;

}
.dashboard .table-panel .chart-box > p{
    color: #999;
    margin-bottom: 20px;
}
.dashboard .time-panel > .dropdown-menu{
    width: 720px;
}
.dashboard .time-panel > .dropdown-menu>li{
    padding: 15px;
}
.dashboard .time-panel > .dropdown-menu>li>a {
    display: inline-block;
}
.dashboard .time-panel > .dropdown-menu>li>a{
    border-radius: 2px;
    border:1px solid #e5e5e5;
    background: #fafafa;
}

.dashboard .time-panel > .dropdown-menu>li>a:focus,.dashboard .time-panel > .dropdown-menu>li>a:hover{
    color: #fff;
    border-radius: 2px;
    border:1px solid #60bbc7;
    background-color: #60bbc7;
}

.main-content-title .btn .caret{
    color: #828282;
}
 .main-content-title .icon-redDot, .main-content-title .icon-greenDot{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ff0000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.main-content-title .icon-greenDot{
    background: #0aa70a;
}

 .main-content-title  .dropdown-toggle-detection{
    width: 270px;
    text-align: left;
}
 .main-content-title  .dropdown-menu-detection{
    width: 295px;
}

.dashboard .table-panel .icon-alarmMsg{
     display: inline-block;
     vertical-align: middle;
     width: 16px;
     height: 16px;
     margin-right: 5px;
 }
.dashboard .table-panel .icon-remind{
    background: url('/img/alarm-msg/remind.png') no-repeat;
}
.dashboard .table-panel .icon-secondary{
    background: url('/img/alarm-msg/secondary.png') no-repeat;
}
.dashboard .table-panel .icon-serious{
    background: url('/img/alarm-msg/serious.png') no-repeat;
}


.dashboard .table-panel .icon-urgent{
    background: url('/img/alarm-msg/urgent.png') no-repeat;
}

.dashboard .table-panel .icon-alarmStatus{
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;}
.dashboard .table-panel .icon-green{
    background: url('/img/alarm-status/green.png') no-repeat;
}
.dashboard .table-panel .icon-grey{
    background: url('/img/alarm-status/grey.png') no-repeat;
}
.dashboard .table-panel .icon-red{
    background: url('/img/alarm-status/red.png') no-repeat;
}


.dashboard .table-panel .icon-yellow{
    background: url('/img/alarm-status/yellow.png') no-repeat;
}

.availability .tab-panel{
  margin-left: 15px;
}
.availability input.input-h{
  height: 30px;
  line-height: 30px;
  text-align: center;

}
.availability label.status{ margin-left: 50px;}
.availability .dropdown-toggle-status{
  width: 136px;
  text-align: left;
}

.availability .container-fluid{ padding-left:0; margin-top: 10px;}

.availability .table > thead > tr> th{
  background: #7dcaef;
  color: #fff;
  text-align: center;

}
.availability .table > tbody > tr> td{
  text-align: center;
}
.availability .table > thead > tr> th,.availability .table > tbody > tr> td{
  padding: 20px 8px;
}
.availability .table > thead > tr> th{
  border-right: 1px solid #c5d7e0;
}
.availability .table > thead > tr> th:last-child{
  border-right: none;
}
