<!-- vender start -->
<script src="/vender/seajs-2.3.0/sea.js"></script>
<script src="/vender/jquery-1.12.4/jquery.min.js"></script>
<script src="/vender/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/vender/echarts-2.2.8/echarts-all.js"></script>
<script src="/vender/jquery-ui-1.2.1/jquery-ui.min.js"></script>
<script src="/vender/jquery-timepicker-addon-1.6.3/jquery-ui-timepicker-addon.min.js"></script>
<!-- vender end -->

<script src="/js/config.js"></script>
@@if(page!= null){
<script src="/js/@@page/index.js"></script>
}

</body>
</html>