<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@@main_title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="keywords" content="@@main_keywords"/>
    <meta name="description" content="@@main_description">
    <meta name="author" content="@@main_author">

    <link rel="stylesheet" href="/vender/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vender/fontawesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    <!--[if lt IE 9]>
    <script src="/vender/html5shiv-3.3.7/html5shiv.min.js"></script>
    <script src="/vender/respond-1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- header start -->
<header class="main-header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-header .navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="main-logo" src="/img/main-logo.png" alt="海尔用户体验监控平台"/>
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        网络 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                主机 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">主机1</a></li>
                                <li><a href="#">主机2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">服务器</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">综合呈现</a></li>
                <li><a href="#">连续监控</a></li>
                <li><a href="#">快速检测</a></li>
                <li><a href="#">告警管理</a></li>
                <li><a href="#">用户管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    <span class="fa fa-user-o"></span>
                </a></li>
                <li><a href="#">
                    <span class="fa fa-user-o"></span>
                </a></li>
                <li><a href="#">
                    <span class="fa fa-user-o"></span>
                </a></li>
            </ul>
        </div>
    </div>
</header>
<!-- header end -->
