<div class="page-content">
  <label>每页显示</label>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      5条
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a href="#">5条</a></li>
      <li role="presentation"><a href="#">10条</a></li>
    </ul>
  </div>
  <nav>
    <ul class="pager">
      <li class="previous"><a href="#">上一页</a></li>
      <li><a href="#" class="current">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="etc"><a href="#">...</a></li>
      <li><a href="#">338</a></li>
      <li class="next"><a href="#">下一页</a></li>
    </ul>
  </nav>
</div>