<!-- slider start -->
<div class="main-sidebar">
    <ul class="nav">
        <li><a href="#" id="js_main_sidebar_hide">
            <span class="icon-siderbar icon-action"></span>
            <span class="main-nav-title">收起</span>
        </a></li>
        <li @@if(page=='dashboard'){class="active"}><a href="/pages/dashboard.html">
            <span class="icon-siderbar icon-overview"></span>
            <span class="main-nav-title">概览</span>
        </a></li>
        <li @@if(page=='operators'){class="active"}><a href="/pages/operators.html">
            <span class="icon-siderbar icon-operators"></span>
            <span class="main-nav-title">运营商</span>
        </a></li>
        <li><a href="#">
            <span class="icon-siderbar icon-performance"></span>
            <span class="main-nav-title">性能</span>
        </a></li>
        <li><a href="#">
            <span class="icon-siderbar icon-resources"></span>
            <span class="main-nav-title">资源</span>
        </a></li>
        <li @@if(page=='availability'){class="active"}><a href="/pages/availability.html">
            <span class="icon-siderbar icon-availability"></span>
            <span class="main-nav-title">可用性</span>
        </a></li>
        <li><a href="#">
            <span class="icon-siderbar icon-snapshot"></span>
            <span class="main-nav-title">快照</span>
        </a></li>
    </ul>
</div>
<!-- slider end -->