<!-- slider start -->
<div class="main-sidebar">
    <ul class="nav">
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">收起</span>
        </a></li>
        <li class="active"><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">概览</span>
        </a></li>
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">运营商</span>
        </a></li>
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">性能</span>
        </a></li>
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">资源</span>
        </a></li>
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">可用性</span>
        </a></li>
        <li><a href="">
            <span class="fa fa-bank"></span>
            <span class="main-nav-title">快照</span>
        </a></li>
    </ul>
</div>
<!-- slider end -->